[submodule "CartManagement"]
	path = CartManagement
	url = https://github.com/PawelH777/game_store_carts.git
[submodule "EditGames"]
	path = EditGames
	url = https://github.com/PawelH777/game_store_edit.git
[submodule "EurekaServer"]
	path = EurekaServer
	url = https://github.com/PawelH777/game_store_eureka_server.git
[submodule "OrderGames"]
	path = OrderGames
	url = https://github.com/PawelH777/game_store_orders.git
[submodule "UserManagement"]
	path = UserManagement
	url = https://github.com/PawelH777/game_store_users.git
[submodule "ViewGames"]
	path = ViewGames
	url = https://github.com/PawelH777/game_store_view.git
[submodule "Gateway"]
	path = Gateway
	url = https://github.com/PawelH777/game_store_gateway.git
